.lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.lista input{
    margin: 10px;
    padding: 20px;
    background-color: rgba(6, 3, 3, 0.07);
    cursor: pointer;
}
form *{
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
input[type="button"]{
    background-color: rgb(41, 41, 44);
    font-family: 'Times New Roman', Times, serif;
    border-radius: 4px;
}
::placeholder{
    color: #e5e5e5;
}